node_modules
.next
.env
.env.local
tsconfig.tsbuildinfo
.sst/
.open-next/
src/next-env.d.ts
project-brief-generator/
**DS_Store
src/project-brief-generator/*
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.terraformrc
tsconfig.tsbuildinfo
src/next-env.d.ts

# Local uploads (development only)
src/public/uploads/
src/tsconfig.tsbuildinfo
